Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Keep cookiecutter project setup in single place and embed it in getting started (#485)
  .secrets.baseline
  docs/docs/en/getting-started/index.md
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Fix create message by adding workflow_uuid
  fastagency/messages.py
  fastagency/runtimes/autogen/autogen.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

Fix create message by adding workflow_uuid (#486)
  fastagency/messages.py
  fastagency/runtimes/autogen/autogen.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

Parse non existant security schema
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/security/UnsuportedSecurityStub.md
  fastagency/api/openapi/security.py
  tests/api/openapi/templates/non_existant_security_schema.json
  tests/api/openapi/templates/security_schema.json
  tests/api/openapi/templates/test_fastapi_codegen_template.py
Due: lint, test, static-analysis, docs

Raise RuntimeError when trying to set unsupported security params
  fastagency/api/openapi/security.py
  tests/api/openapi/security/test_unsupported_security.py
Due: lint, test, static-analysis

Rename unsuppported security values
  fastagency/api/openapi/security.py
  tests/api/openapi/security/test_unsupported_security.py
Due: lint, test, static-analysis

Add dockerfile for mesop
  docs/docs_src/getting_started/docker/mesop/mesop.Dockerfile
  docs/docs_src/getting_started/docker/mesop/run_fastagency.sh
Due: docs

Add dockerfile for fastapi+mesop
  docs/docs_src/getting_started/docker/fastapi_mesop/fastapi_mesop.Dockerfile
  docs/docs_src/getting_started/docker/fastapi_mesop/run_fastagency.sh
Due: docs

Add servers argument Client.create
  fastagency/api/openapi/client.py
Due: lint, test, static-analysis

Add dockerfile for nats+fastapi+mesop
  docs/docs_src/getting_started/docker/fastapi_mesop/run_fastagency.sh
  docs/docs_src/getting_started/docker/nats_fastapi_mesop/nats_fastapi_mesop.Dockerfile
  docs/docs_src/getting_started/docker/nats_fastapi_mesop/run_fastagency.sh
Due: docs

Add tests for creating a client with servers defined
  tests/api/openapi/test_client.py
Due: lint, test, static-analysis

Use non-root user in dockerfiles
  docs/docs_src/getting_started/docker/fastapi_mesop/fastapi_mesop.Dockerfile
  docs/docs_src/getting_started/docker/mesop/mesop.Dockerfile
  docs/docs_src/getting_started/docker/nats_fastapi_mesop/nats_fastapi_mesop.Dockerfile
Due: docs

Expose multiple ports
  docs/docs_src/getting_started/docker/fastapi_mesop/fastapi_mesop.Dockerfile
  docs/docs_src/getting_started/docker/nats_fastapi_mesop/nats_fastapi_mesop.Dockerfile
Due: docs

Update giphy test
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Update giphy test (#502)
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Mesop: do not scroll for keep alive
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Include docker-in-docker in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
Due: none

Upgrade package versions
  pyproject.toml
Due: none

Raise warning if openapi schema contains non supported security schema (#499)
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/security/UnsuportedSecurityStub.md
  fastagency/api/openapi/security.py
  tests/api/openapi/security/test_unsupported_security.py
  tests/api/openapi/templates/security_schema.json
  tests/api/openapi/templates/test_fastapi_codegen_template.py
Due: lint, test, static-analysis, docs

Reroute whatsapp_e2e test
  .devcontainer/devcontainer.env
  .github/workflows/deploy-docs.yaml
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
  fastagency/api/openapi/client.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

Add postman api key secret to ci/cd
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
Due: none

Add fatagency docker build and run commands
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/cli/docker_cli/build.md
  docs/docs/en/api/fastagency/cli/docker_cli/run.md
  docs/docs/en/cli/cli.md
  fastagency/cli/cli.py
  fastagency/cli/docker_cli.py
Due: lint, test, static-analysis, docs

Add POSTMAN_API_KEY to devcontainers
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
Due: none

Mark postman test as postman
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
  pyproject.toml
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

Mark postman test as postman
  .github/workflows/pipeline.yaml
Due: none

Upgrade package versions (#506)
  pyproject.toml
Due: none

Define servers in openapi factory (#501)
  fastagency/api/openapi/client.py
  tests/api/openapi/test_client.py
Due: lint, test, static-analysis

Cleanup merge
  fastagency/api/openapi/client.py
Due: lint, test, static-analysis

wip
  docs/docs_src/tutorials/chess/board.py
  docs/docs_src/tutorials/chess/main_1_fastapi.py
  docs/docs_src/tutorials/chess/workflow.py
  fastagency/adapters/fastapi/base.py
  fastagency/adapters/nats/base.py
Due: lint, test, static-analysis, docs

remove JSON from LFS
  .gitattributes
  examples/openapi/whatsapp_openapi_complete.json
Due: none

CI refactoring
  .github/workflows/deploy-docs.yaml
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
Due: none

CI refactoring
  .github/workflows/test.yaml
Due: none

CI refactoring
  .github/workflows/pipeline.yaml
Due: none

Reroute whatsapp_e2e test (#507)
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
  .gitattributes
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
  examples/openapi/whatsapp_openapi_complete.json
  fastagency/api/openapi/client.py
  pyproject.toml
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

simplified problematic json added
  examples/openapi/whatsapp_simple.json
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

wip
  examples/openapi/whatsapp_simple.json
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

WIP
  fastagency/ui/mesop/components/auth.py
  fastagency/ui/mesop/components/auth_config_requirements.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

wip
  examples/openapi/whatsapp_simple_discriminator_inside.json
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
