Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Implement whatsapp agent with infobip api integration (#532)
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/runtimes/autogen/agents/whatsapp/WhatsAppAgent.md
  docs/docs/en/api/fastagency/runtimes/autogen/tools/WhatsAppTool.md
  docs/docs/en/api/fastagency/runtimes/autogen/tools/whatsapp/WhatsAppTool.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/navigation_template.txt
  docs/docs_src/user_guide/runtimes/autogen/whatsapp.py
  docs/docs_src/user_guide/runtimes/autogen/whatsapp_tool.py
  fastagency/runtimes/autogen/agents/whatsapp.py
  fastagency/runtimes/autogen/tools/__init__.py
  fastagency/runtimes/autogen/tools/whatsapp.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsapp.py
Due: lint, test, static-analysis, docs

wip
  .semgrepignore
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs_src/getting_started/fastapi/cookiecutter.json
  docs/docs_src/getting_started/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/fastapi/my_fastagency_app/tests/test_workflow.py
  docs/docs_src/getting_started/fastapi_n_nats/folder_structure.txt
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/.devcontainer/devcontainer.env
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/.devcontainer/setup.sh
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/.github/workflows/test.yml
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/README.md
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/__init__.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/deployment/__init__.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/deployment/main_1_fastapi.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/local/__init__.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/local/main_mesop.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/tests/__init__.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/tests/conftest.py
  docs/docs_src/getting_started/fastapi_n_nats/my_fastagency_app/tests/test_workflow.py
  docs/docs_src/getting_started/mesop/cookiecutter.json
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/mesop/my_fastagency_app/tests/test_workflow.py
  docs/docs_src/getting_started/nats_n_fastapi/cookiecutter.json
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

Fix failing test_import test
  tests/docs_src/test_import.py
Due: lint, test, static-analysis

Stabilise flaky test_whatsapp_tool
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
Due: lint, test, static-analysis

docs polising
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/images/chat-init.png
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  fastagency/__about__.py
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

wip
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/my_fastagency_app/local/main_console.py
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/my_fastagency_app/local/main_console.py
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/local/main_console.py
Due: lint, test, static-analysis, docs

wip
  scripts/build-docs.sh
Due: none

šre-commit fixes
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  scripts/build-docs.sh
Due: docs

test fix
  tests/docs_src/getting_started/test_main.py
Due: lint, test, static-analysis

Fix failing test import (#533)
  tests/docs_src/test_import.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
Due: lint, test, static-analysis

bump version
  fastagency/__about__.py
Due: lint, test, static-analysis

bump version (#535)
  fastagency/__about__.py
Due: lint, test, static-analysis

Update Release Notes for v0.3.3
  docs/docs/en/release.md
Due: docs

Skip whatsapp agent e2e tests, add whatsapp unit tests
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsapp.py
  tests/runtime/autogen/tools/test_whatsapp.py
Due: lint, test, static-analysis

Update coockiecutter generated files and release notes
  docs/docs/en/release.md
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/run_fastagency.sh
Due: docs

Rebuild docs
  docs/docs/en/release.md
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/run_fastagency.sh
Due: docs

Skip whatsapp agent e2e tests, add whatsapp unit tests (#540)
  docs/docs/en/release.md
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/run_fastagency.sh
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsapp.py
  tests/runtime/autogen/tools/test_whatsapp.py
Due: lint, test, static-analysis, docs

Fix docs for console basics
  docs/docs/en/user-guide/ui/console/basics.md
Due: docs

Fix broken links in docs
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

wip
  docs/docs/en/tutorials/whatsapp/index.md
Due: docs

Alter build docs script, fix fastapi adapter docs and add custom client code
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs_src/getting_started/fastapi/main_fastapi_custom_client.py
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

WIP: fix nats docs
  docs/docs/en/user-guide/adapters/nats/index.md
Due: docs

wip
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsapp.py
Due: lint, test, static-analysis

wip
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs_src/tutorials/whatsapp/main.py
Due: lint, test, static-analysis, docs

Updated packages and cookiecutter
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_docker.sh
  pyproject.toml
Due: lint, test, static-analysis, docs

Updated packages and cookiecutter (#550)
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/mesop/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_docker.sh
  pyproject.toml
Due: lint, test, static-analysis, docs

Fix Nats+fastapi doc and add custom rest api code
  .secrets.baseline
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs_src/getting_started/nats_n_fastapi/main_2_fastapi_custom_client.py
Due: lint, test, static-analysis, docs

Fix nats adapter docs
  .secrets.baseline
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs_src/getting_started/nats_n_fastapi/main_2_mesop.py
Due: lint, test, static-analysis, docs

wip
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/tutorials/whatsapp/index.md
Due: docs

polishing
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

wip
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/tutorials/whatsapp/index.md
Due: docs

Update secrets.baseline
  .secrets.baseline
Due: none

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
