Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^docs/docs/en/user-guide/cli/.*
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              docs/docs/SUMMARY.md|
              docs/docs/en/api/.meta.yml
          )$
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: check-added-large-files
        exclude: |
          (?x)^(
              blog/package-lock.json
          )$

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: test
        name: Test
        entry: "scripts/test-no-llm-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        #language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
              package.lock.json|
              pnpm-lock.yaml|
              examples/openapi/whatsapp_openapi_complete.json
          )$

Update tests
  tests/api/openapi/test_end2end.py
  tests/docs_src/user_guide/code_injection/__init__.py
  tests/docs_src/user_guide/code_injection/test_mesop_main.py
Due: lint, test, static-analysis

Update tests
  tests/docs_src/user_guide/code_injection/__init__.py
  tests/docs_src/user_guide/code_injection/test_mesop_main.py
Due: lint, test, static-analysis

Update code injection docs to use cookiecutter
  docs/docs/en/user-guide/api/code_injection/images/result.png
  docs/docs/en/user-guide/api/code_injection/images/user_input.png
  docs/docs/en/user-guide/api/code_injection/index.md
  docs/docs_src/user_guide/code_injection/workflow.py
Due: lint, test, static-analysis, docs

Update tests
  tests/api/openapi/test_end2end.py
Due: lint, test, static-analysis

Update code injection docs
  docs/docs/en/user-guide/api/code_injection/index.md
Due: docs

Rename Code Injection to Dependency Injection
  .gitignore
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/dependency_injection/inject_params.md
  docs/docs/en/user-guide/api/code_injection/index.md
  docs/docs/en/user-guide/api/dependency_injection/images/result.png
  docs/docs/en/user-guide/api/dependency_injection/images/user_input.png
  docs/docs/en/user-guide/api/dependency_injection/index.md
  docs/docs/en/user-guide/api/index.md
  docs/docs/navigation_template.txt
  docs/docs_src/user_guide/dependency_injection/__init__.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  fastagency/api/dependency_injection.py
  tests/api/test_code_injection.py
  tests/docs_src/test_import.py
Due: lint, test, static-analysis, docs

plan
  fastagency/runtimes/autogenchat/README.md
Due: none

Update docs
  docs/docs/en/user-guide/api/dependency_injection/index.md
Due: docs

plan wip(2)
  fastagency/runtimes/autogenchat/README.md
Due: none

plan wip(3)
  fastagency/runtimes/autogenchat/README.md
Due: none

Update docs
  docs/docs/en/user-guide/api/dependency_injection/index.md
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
Due: lint, test, static-analysis, docs

plan wip(4)
  fastagency/runtimes/autogenchat/README.md
Due: none

ag2 and agentchat runtimes added
  README.md
  docs/docs/en/example.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  fastagency/runtimes/ag2/__init__.py
  fastagency/runtimes/agentchat/__init__.py
  tests/cli/test_discover.py
  tests/cli/test_mesop.py
  tests/docs_src/test_import.py
  tests/runtime/agentchat/__init__.py
  tests/runtime/agentchat/test_agentchat.py
Due: lint, test, static-analysis, docs

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/.devcontainer/docker-compose.yml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/docker/content/nginx.conf.template
Due: docs

Update cookiecutter generated files (#615)
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/.devcontainer/docker-compose.yml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/docker/content/nginx.conf.template
Due: docs

Update quick start page with deploy to azure section
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update quick start page with deploy to azure section (#616)
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Add prompt leakage tutorial
  docs/docs/SUMMARY.md
  docs/docs/en/tutorials/index.md
  docs/docs/en/tutorials/prompt_leakage_probing/img/probing_flow.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_leakage_report.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_leakage_social_img.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_test_chat.png
  docs/docs/en/tutorials/prompt_leakage_probing/index.md
  docs/docs/navigation_template.txt
Due: docs

Add prompt leakage tutorial (#617)
  docs/docs/SUMMARY.md
  docs/docs/en/tutorials/index.md
  docs/docs/en/tutorials/prompt_leakage_probing/img/probing_flow.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_leakage_report.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_leakage_social_img.png
  docs/docs/en/tutorials/prompt_leakage_probing/img/prompt_test_chat.png
  docs/docs/en/tutorials/prompt_leakage_probing/index.md
  docs/docs/navigation_template.txt
Due: docs

Update dependency versions
  pyproject.toml
Due: none

Update action version
  .github/workflows/publish-coverage.yml
Due: none

Update markdownify version
  pyproject.toml
Due: none

Update dependency versions (#621)
  .github/workflows/publish-coverage.yml
  pyproject.toml
Due: none

Add deploy to aws section in getting started page
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Add deploy to aws section in getting started page (#622)
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

chore: group dependantbot PRs
  .github/dependabot.yml
Due: none

Update cache version
  .github/workflows/test.yaml
Due: none

Update cache version ot v04
  .github/workflows/test-playwright.yaml
Due: none

Update cache version to v04 to fix failing CI (#628)
  .github/workflows/test-playwright.yaml
  .github/workflows/test.yaml
Due: none

chore: group dependantbot PRs (#626)
  .github/dependabot.yml
Due: none

packages updated
  fastagency/__about__.py
  pyproject.toml
Due: lint, test, static-analysis

updated packages
  .devcontainer/setup.sh
  .github/workflows/test-playwright.yaml
  .github/workflows/test.yaml
  fastagency/__init__.py
  fastagency/adapters/nats/__init__.py
  fastagency/api/openapi/security.py
  fastagency/base.py
  fastagency/cli/cli.py
  fastagency/helpers.py
  fastagency/messages.py
  fastagency/runtimes/autogen/__init__.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/message.py
  pyproject.toml
  scripts/build-docs-pre-commit.sh
  scripts/lint-pre-commit.sh
  scripts/static-pre-commit.sh
  scripts/test-no-llm-pre-commit.sh
  tests/api/openapi/security/test_oauth_client.py
  tests/cli/test_discover.py
  tests/ui/mesop/test_message.py
Due: lint, test, static-analysis

Fix failures in CI because of changes in formatting
  tests/api/openapi/security/expected_main_gen.txt
  tests/api/openapi/security/test_oauth_client.py
  tests/api/openapi/test_end2end.py
Due: lint, test, static-analysis

Update description in register for llm test
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Install websurfer as optional dependency
  pyproject.toml
Due: none

Fix IoStreamAdapter
  fastagency/runtimes/autogen/autogen.py
  tests/docs_src/getting_started/test_main.py
Due: lint, test, static-analysis

Fix mypy issues
  fastagency/runtimes/autogen/autogen.py
Due: lint, test, static-analysis

Fix pre-commit issues
  fastagency/runtimes/autogen/autogen.py
Due: lint, test, static-analysis
