Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Call message.print with IOStreamAdapter's print
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Follow ag2's style of header messages
  fastagency/ui/console/console.py
  fastagency/ui/mesop/message.py
  tests/ui/mesop/test_message.py
Due: lint, test, static-analysis

Update version to 0.8.4rc1
  fastagency/__about__.py
Due: lint, test, static-analysis

Update test cases
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer.py
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer_tool.py
Due: lint, test, static-analysis

Fix message.print and follow ag2's style of message header (#661)
  fastagency/__about__.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/message.py
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer.py
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer_tool.py
  tests/ui/mesop/test_message.py
Due: lint, test, static-analysis

Use PYPI_API_TOKEN for pypi releases
  .github/workflows/release_pypi.yaml
Due: none

Update release notes
  docs/docs/en/release.md
Due: docs

Use PYPI_API_TOKEN for pypi releases (#662)
  .github/workflows/release_pypi.yaml
  docs/docs/en/release.md
Due: docs

Update version to 0.8.4
  fastagency/__about__.py
Due: lint, test, static-analysis

Remove release notes of rc versions
  docs/docs/en/release.md
Due: docs

Prepare for 0.8.4 version release (#663)
  docs/docs/en/release.md
  fastagency/__about__.py
Due: lint, test, static-analysis, docs

Fix typo
  docs/docs/en/release.md
Due: docs

Update release notes (#664)
  docs/docs/en/release.md
Due: docs

Update mkdocs ag2 docs links
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/runtimes/ag2/index.md
  docs/docs/en/user-guide/runtimes/ag2/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/ag2/whatsapp.md
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

Update mkdocs ag2 docs links (#668)
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/runtimes/ag2/index.md
  docs/docs/en/user-guide/runtimes/ag2/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/ag2/whatsapp.md
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

Update files generated by cookiecutter
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: docs

Update files generated by cookiecutter (#669)
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: docs

WIP
  fastagency/api/openapi/openapi.py
  tests/api/openapi/security/test_api_key_client.py
  tests/api/openapi/security/test_http_basic_client.py
  tests/api/openapi/security/test_http_bearer_client.py
  tests/api/openapi/security/test_oauth_client.py
  tests/api/openapi/security/test_security.py
  tests/api/openapi/security/test_unsupported_security.py
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_client.py
  tests/api/openapi/test_client_requests.py
  tests/api/openapi/test_datamodel_with_pattern.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_get_params.py
  tests/api/openapi/test_openapi_same_schema_in_parameters.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/api/openapi/test_whatsapp_api.py
  tests/docs_src/test_import.py
  tests/docs_src/user_guide/external_rest_apis/test_with_security.py
  tests/docs_src/user_guide/external_rest_apis/test_without_security.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_whatsapp.py
Due: lint, test, static-analysis

Fix failing git test
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Update ag2 version to 0.8.5
  pyproject.toml
Due: none

Update to use ConversableAgent.run() instead of initiate_chat()
  README.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/main_fastapi_custom_client.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/docs_src/tutorials/whatsapp/main.py
  docs/docs_src/user_guide/adapters/fastapi/security/workflows.py
  docs/docs_src/user_guide/custom_user_interactions/main.py
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  docs/docs_src/user_guide/external_rest_apis/main.py
  docs/docs_src/user_guide/external_rest_apis/security.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/main.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/using_non_openai_models.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer_tool.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp_tool.py
  docs/docs_src/user_guide/ui/mesop/main_mesop.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  e2e/llm/main.py
  examples/cli/main_console.py
  examples/cli/main_mesop.py
  examples/cli/main_user_proxy.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/runtimes/ag2/tools/websurfer.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/cli/test_mesop.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_web_surfer.py
Due: lint, test, static-analysis, docs

Fix type issues in ag2.py and websurfer.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/runtimes/ag2/tools/websurfer.py
Due: lint, test, static-analysis

Update IOStreamAdapter to properly handle AG2 events
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Fix import for BaseEvent from autogen.events
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Use duck typing to handle AG2 events without direct imports
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Integrate event processing directly into send method
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Handle autogen events
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Revert docs/ files to use initiate_chat() instead of run()
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/main_fastapi_custom_client.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/docs_src/tutorials/whatsapp/main.py
  docs/docs_src/user_guide/adapters/fastapi/security/workflows.py
  docs/docs_src/user_guide/custom_user_interactions/main.py
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  docs/docs_src/user_guide/external_rest_apis/main.py
  docs/docs_src/user_guide/external_rest_apis/security.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/main.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/using_non_openai_models.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer_tool.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp_tool.py
  docs/docs_src/user_guide/ui/mesop/main_mesop.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
Due: lint, test, static-analysis, docs

Revert README, examples/, e2e/, and tests/ files to use initiate_chat() instead of run()
  README.md
  e2e/llm/main.py
  examples/cli/main_console.py
  examples/cli/main_mesop.py
  examples/cli/main_user_proxy.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_web_surfer.py
Due: lint, test, static-analysis

Use 0.8.5
  fastagency/runtimes/ag2/ag2.py
  pyproject.toml
Due: lint, test, static-analysis

Revert websurfer.py to use initiate_chat() instead of run()
  fastagency/runtimes/ag2/tools/websurfer.py
Due: lint, test, static-analysis

Revert tests/ files to use initiate_chat() instead of run()
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/cli/test_mesop.py
Due: lint, test, static-analysis

Revert test_autogen.py to use run_workflow() instead of run()
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Fix event handling in IOStreamAdapter.send method and handle RunResponse in Workflow.run
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Fix IOStreamAdapter initialization to properly inherit from IOStream
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

Fix IOStreamAdapter to use duck typing instead of inheritance for IOStream
  fastagency/runtimes/ag2/ag2.py
Due: lint, test, static-analysis

WIP
  fastagency/api/openapi/openapi.py
Due: lint, test, static-analysis

Fix by adding to builtins
  fastagency/api/openapi/openapi.py
Due: lint, test, static-analysis

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
