Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

playwright coverage WIP2(5)
  .github/workflows/test-playwright.yaml
Due: none

Generate with/without auth and use with auth in getting started, without auth everywhere else
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/ui/console/basics.md
  scripts/build-docs.sh
Due: docs

Fix already broken embedded code
  docs/docs/en/user-guide/ui/console/basics.md
Due: docs

playwright coverage WIP2(10)
  fastagency/app.py
Due: lint, test, static-analysis

Show appropriate message when unauthorized user tried to access the application
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  javascript/firebase_auth_component.js
Due: lint, test, static-analysis

WIP: Add auth
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
Due: lint, test, static-analysis, docs

Update cookiecutter
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
Due: lint, test, static-analysis, docs

Fix embedding console UI docs
  docs/docs/en/user-guide/ui/console/basics.md
Due: docs

Update cookiecutter (#574)
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/deployment/main.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_3_mesop.py
Due: lint, test, static-analysis, docs

Fix firebase logout
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/data_model.py
  javascript/firebase_auth_component.js
Due: lint, test, static-analysis

Update authentication section
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update cookiecutter prompt
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Add authentication section in getting started page (#577)
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Show appropriate message when unauthorized user tried to access the a… (#571)
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/data_model.py
  javascript/firebase_auth_component.js
Due: lint, test, static-analysis

Fix WhatsAppAgent docs
  .secrets.baseline
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
Due: docs

Refactor whatsapp api key setup into snippet
  .secrets.baseline
  docs/docs/en/snippets/creating_whatsapp_api_key.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
Due: docs

Fix WhatsAppAgent docs (#578)
  .secrets.baseline
  docs/docs/en/snippets/creating_whatsapp_api_key.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
Due: docs

Fix broken tutorial image
  docs/docs/en/tutorials/mesop_template.md
Due: docs

Fix alignment
  docs/docs/en/tutorials/mesop_template.md
Due: docs

Fix broken tutorial image (#581)
  docs/docs/en/tutorials/mesop_template.md
Due: docs

Add excluded URLs from CI check
  .github/workflows/check-broken-links-in-docs.yaml
Due: none

Add excluded URLs from CI check (#582)
  .github/workflows/check-broken-links-in-docs.yaml
Due: none

devcontainer stuff renamed to ag2
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
  .devcontainer/setup-ag2.sh
  pyproject.toml
Due: none

Add Playwright coverage to CI (#555)
  .github/workflows/pipeline.yaml
  .github/workflows/test-playwright.yaml
  e2e/llm-sans/messages.spec.ts
  e2e/playwright.base.config.ts
  e2e/playwright.coverage.cfg
  fastagency/app.py
  playwright.coverage.config.ts
  playwright.llm-sans.config.ts
Due: lint, test, static-analysis

Update deploy to fly.io section in docs
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Add a section explaining how to deploy using github actions
  README.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

pre commit fixes
  .devcontainer/ag2-python-3.10/devcontainer.json
  .devcontainer/ag2-python-3.10/docker-compose.yml
  .devcontainer/ag2-python-3.11/devcontainer.json
  .devcontainer/ag2-python-3.11/docker-compose.yml
  .devcontainer/ag2-python-3.12/devcontainer.json
  .devcontainer/ag2-python-3.12/docker-compose.yml
  .devcontainer/ag2-python-3.9/devcontainer.json
  .devcontainer/ag2-python-3.9/docker-compose.yml
  .devcontainer/build_devcontainers.py
  .devcontainer/runtime-python-3.10/devcontainer.json
  .devcontainer/runtime-python-3.10/docker-compose.yml
  .devcontainer/runtime-python-3.11/devcontainer.json
  .devcontainer/runtime-python-3.11/docker-compose.yml
  .devcontainer/runtime-python-3.12/devcontainer.json
  .devcontainer/runtime-python-3.12/docker-compose.yml
  .devcontainer/runtime-python-3.9/devcontainer.json
  .devcontainer/runtime-python-3.9/docker-compose.yml
  .pre-commit-config.yaml
  scripts/devcontainer-build-pre-commit.sh
Due: lint, test, static-analysis

Reword things
  README.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update danger section
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

autogen-04dev added
  .devcontainer/autogen-04dev-python-3.10/devcontainer.json
  .devcontainer/autogen-04dev-python-3.10/docker-compose.yml
  .devcontainer/autogen-04dev-python-3.11/devcontainer.json
  .devcontainer/autogen-04dev-python-3.11/docker-compose.yml
  .devcontainer/autogen-04dev-python-3.12/devcontainer.json
  .devcontainer/autogen-04dev-python-3.12/docker-compose.yml
  .devcontainer/autogen-04dev-python-3.9/devcontainer.json
  .devcontainer/autogen-04dev-python-3.9/docker-compose.yml
  .devcontainer/autogen-python-3.10/devcontainer.json
  .devcontainer/autogen-python-3.10/docker-compose.yml
  .devcontainer/autogen-python-3.11/devcontainer.json
  .devcontainer/autogen-python-3.11/docker-compose.yml
  .devcontainer/autogen-python-3.12/devcontainer.json
  .devcontainer/autogen-python-3.12/docker-compose.yml
  .devcontainer/autogen-python-3.9/devcontainer.json
  .devcontainer/autogen-python-3.9/docker-compose.yml
  pyproject.toml
Due: none

fixes
  .devcontainer/autogen-04dev-python-3.10/devcontainer.json
  .devcontainer/autogen-04dev-python-3.11/devcontainer.json
  .devcontainer/autogen-04dev-python-3.12/devcontainer.json
  .devcontainer/autogen-04dev-python-3.9/devcontainer.json
  .devcontainer/autogen-python-3.10/devcontainer.json
  .devcontainer/autogen-python-3.11/devcontainer.json
  .devcontainer/autogen-python-3.12/devcontainer.json
  .devcontainer/autogen-python-3.9/devcontainer.json
  .devcontainer/build_devcontainers.py
Due: lint, test, static-analysis

Remove preferred word
  README.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
