Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

wip
  fastagency/api/openapi/openapi.py
  tests/api/openapi/test_client_requests.py
  tests/api/openapi/test_get_params.py
Due: lint, test, static-analysis

Skip OpenAPI tests
  tests/api/openapi/security/test_api_key_client.py
  tests/api/openapi/security/test_http_basic_client.py
  tests/api/openapi/security/test_http_bearer_client.py
  tests/api/openapi/security/test_oauth_client.py
  tests/api/openapi/security/test_security.py
  tests/api/openapi/security/test_unsupported_security.py
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_client.py
  tests/api/openapi/test_client_requests.py
  tests/api/openapi/test_datamodel_with_pattern.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_get_params.py
  tests/api/openapi/test_openapi_same_schema_in_parameters.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/api/openapi/test_whatsapp_api.py
  tests/docs_src/test_import.py
  tests/runtime/autogen/test_autogen.py
  tests/runtime/autogen/tools/test_whatsapp.py
Due: lint, test, static-analysis

Skip OpenAPI tests
  tests/docs_src/user_guide/external_rest_apis/test_with_security.py
  tests/docs_src/user_guide/external_rest_apis/test_without_security.py
  tests/runtime/autogen/tools/test_whatsapp.py
Due: lint, test, static-analysis

Use older version of griffe
  pyproject.toml
Due: none

Use python 3.12 to deploy docs
  .github/workflows/deploy-docs.yaml
Due: none

Undo debug lines
  .github/workflows/deploy-docs.yaml
Due: none

Use python 3.12 to deploy docs (#649)
  .github/workflows/deploy-docs.yaml
Due: none

Change microsoft/autogen link to ag2ai/ag2 link
  README.md
  docs/docs/en/features.md
Due: docs

Rename AutoGen to AG2
  README.md
  docs/docs/en/features.md
Due: docs

Update README.md
  README.md
Due: none

Change microsoft links to docs.ag2.ai links
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi/security.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  tests/docs_src/user_guide/runtimes/autogen/test_websurfer.py
  tests/docs_src/user_guide/runtimes/autogen/test_websurfer_tool.py
Due: lint, test, static-analysis, docs

Use version 0.8.4 for both ag2 and fastagency
  fastagency/__about__.py
  pyproject.toml
Due: lint, test, static-analysis

Rename AutoGen to AG2
  docs/docs/en/tutorials/index.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/api/dependency_injection/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/api/security.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/runtimes/index.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  pyproject.toml
Due: docs

Remove crewai and other runtime references
  README.md
  docs/docs/SUMMARY.md
  docs/docs/en/features.md
  docs/docs/en/user-guide/runtimes/crewai/basics.md
  docs/docs/en/user-guide/runtimes/index.md
  docs/docs/navigation_template.txt
Due: docs

Use version 0.8.1
  fastagency/__about__.py
  pyproject.toml
Due: lint, test, static-analysis

Update failing test case
  tests/api/openapi/test_end2end.py
Due: lint, test, static-analysis

Rename autogen/ docs references to ag2/
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/runtimes/ag2/AutoGenWorkflows.md
  docs/docs/en/api/fastagency/runtimes/ag2/IOStreamAdapter.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/AutoGenWorkflows.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/CurrentMessage.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/IOStreamAdapter.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/Toolable.md
  docs/docs/en/api/fastagency/runtimes/ag2/agents/websurfer/WebSurferAgent.md
  docs/docs/en/api/fastagency/runtimes/ag2/agents/whatsapp/WhatsAppAgent.md
  docs/docs/en/api/fastagency/runtimes/ag2/tools/WebSurferTool.md
  docs/docs/en/api/fastagency/runtimes/ag2/tools/WhatsAppTool.md
  docs/docs/en/api/fastagency/runtimes/ag2/tools/websurfer/WebSurferAnswer.md
  docs/docs/en/api/fastagency/runtimes/ag2/tools/websurfer/WebSurferTool.md
  docs/docs/en/api/fastagency/runtimes/ag2/tools/whatsapp/WhatsAppTool.md
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi/security.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/runtimes/ag2/index.md
  docs/docs/en/user-guide/runtimes/ag2/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/ag2/websurfer.md
  docs/docs/en/user-guide/runtimes/ag2/whatsapp.md
  docs/docs/en/user-guide/runtimes/index.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer.py
  tests/docs_src/user_guide/runtimes/ag2/test_websurfer_tool.py
  tests/docs_src/user_guide/runtimes/ag2/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/ag2/test_whatsapp.py
  tests/runtime/ag2/tools/test_whatsapp.py
Due: lint, test, static-analysis, docs

Fix typos and imports
  README.md
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/runtimes/ag2/Workflow.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/Workflow.md
  docs/docs/en/example.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/README.md
  fastagency/__init__.py
  fastagency/base.py
  fastagency/runtimes/ag2/__init__.py
  fastagency/runtimes/ag2/ag2.py
  tests/cli/test_discover.py
  tests/cli/test_mesop.py
Due: lint, test, static-analysis, docs

Fix failing e2e test
  e2e/llm-sans/messages.spec.ts
Due: none

Update ag2 version to 0.8.4 and support new version
  fastagency/__about__.py
  pyproject.toml
Due: lint, test, static-analysis

Use LLMConfig instead of dictionaries
  fastagency/runtimes/ag2/agents/websurfer.py
  fastagency/runtimes/ag2/agents/whatsapp.py
  fastagency/runtimes/ag2/tools/websurfer.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_openapi_same_schema_in_parameters.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/conftest.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_web_surfer.py
  tests/runtime/ag2/tools/test_whatsapp.py
Due: lint, test, static-analysis

Update test case for raising pydantic validation error for invalid llmconfig
  tests/runtime/ag2/tools/test_web_surfer.py
Due: lint, test, static-analysis

Update ag2 version to 0.8.4 and add support for new version (#654)
  fastagency/__about__.py
  fastagency/runtimes/ag2/agents/websurfer.py
  fastagency/runtimes/ag2/agents/whatsapp.py
  fastagency/runtimes/ag2/tools/websurfer.py
  pyproject.toml
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_openapi_same_schema_in_parameters.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/conftest.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_web_surfer.py
  tests/runtime/ag2/tools/test_whatsapp.py
Due: lint, test, static-analysis

fix ambiguous playwright test
  e2e/llm-sans/main.py
  e2e/llm-sans/messages.spec.ts
Due: lint, test, static-analysis

fix flaky playwright test triggered by ag2 rename
  e2e/llm-sans/main.py
  e2e/llm-sans/messages.spec.ts
Due: lint, test, static-analysis

fix flaky playwright test triggered by ag2 rename (#657)
  e2e/llm-sans/main.py
  e2e/llm-sans/messages.spec.ts
Due: lint, test, static-analysis

Update version to 0.8.4rc0
  fastagency/__about__.py
Due: lint, test, static-analysis

Update version to 0.8.4rc0 (#659)
  fastagency/__about__.py
Due: lint, test, static-analysis

Include openai optional dependency
  pyproject.toml
Due: none

Update repository link under ag2ai organization
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  docs/docs/en/contributing/CONTRIBUTING.md
  docs/docs/en/contributing/docs.md
  docs/docs/en/features.md
  docs/docs/en/index.md
  docs/docs/en/release.md
  docs/mkdocs.yml
  package.json
  pyproject.toml
Due: docs

Update files generated by cookiecutter
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/README.md
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: docs

Rename airtai/fastagency to ag2ai/fastagency
  .github/workflows/pipeline.yaml
  README.md
  docs/docs/en/features.md
  docs/docs/en/release.md
  docs/docs/en/tutorials/giphy/index.md
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/mkdocs.yml
  docs/templates/redirect.html
  docs/update_releases.py
Due: lint, test, static-analysis, docs

Rename airt to ag2ai
  .github/ISSUE_TEMPLATE/config.yml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  docs/create_api_docs.py
  docs/docs/en/example.md
  docs/docs/en/features.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  docs/mkdocs.yml
  docs/templates/redirect.html
  pyproject.toml
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

Remove autogen optional dependency
  pyproject.toml
Due: none

Remove autogen
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
