Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^docs/docs/en/user-guide/cli/.*
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              docs/docs/SUMMARY.md|
              docs/docs/en/api/.meta.yml
          )$
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: check-added-large-files
        exclude: |
          (?x)^(
              blog/package-lock.json
          )$

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: test
        name: Test
        entry: "scripts/test-no-llm-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        #language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
              package.lock.json|
              pnpm-lock.yaml|
              examples/openapi/whatsapp_openapi_complete.json
          )$

Update package versions (#525)
  pyproject.toml
Due: none

Fix review comments
  .secrets.baseline
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  fastagency/ui/mesop/auth.py
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/firebase_auth_component.py
  tests/docs_src/test_import.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

Implement code review sugestions
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs_src/tutorials/whatsapp/main.py
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/patch_datamodel_code_generator.py
  tests/api/openapi/templates/test_fastapi_stale_patch.py
Due: lint, test, static-analysis, docs

Fix typing
  tests/api/openapi/templates/test_fastapi_stale_patch.py
Due: lint, test, static-analysis

Fix tests
  .secrets.baseline
  tests/docs_src/test_import.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis

Fix mesop tests
  tests/docs_src/test_import.py
Due: lint, test, static-analysis

Update pytest command in docs and add test could take upto 30 seconds
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Remove console option output from cookiecutter project setup
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Update project structure in cookiecutter project setup
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Add documentation for Mesop authentication
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/en/user-guide/ui/mesop/images/auth_chat.png
  docs/docs/en/user-guide/ui/mesop/images/auth_login.png
Due: docs

Remove env+pip from project setup
  .secrets.baseline
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update cookiecutter creation output
  docs/docs/en/user-guide/cookiecutter/index.md
Due: docs

Polishing
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

Fix parsing of Infobip whatsapp API schema (#516)
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/patch_datamodel_code_generator/patch_apply_discriminator_type.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs_src/tutorials/whatsapp/main.py
  examples/openapi/whatsapp_openapi.json
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/client.py
  fastagency/api/openapi/patch_datamodel_code_generator.py
  pyproject.toml
  templates/main.jinja2
  tests/api/openapi/templates/description_with_new_lines.json
  tests/api/openapi/templates/discriminator_in_root.json
  tests/api/openapi/templates/discriminator_in_root_with_properties.json
  tests/api/openapi/templates/discriminator_inside_properties.json
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/templates/test_fastapi_stale_patch.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis, docs

Use named anchor links for tabs
  docs/mkdocs.yml
Due: docs

Fix embedding
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Init whatsap agent
  fastagency/runtimes/autogen/agents/whatsapp.py
  fastagency/runtimes/autogen/tools/__init__.py
  fastagency/runtimes/autogen/tools/whatsapp.py
Due: lint, test, static-analysis

WIP: Add separate workflow.py and split docs into workflow development and deployment
  .secrets.baseline
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs_src/getting_started/fastapi/main_1_fastapi.py
  docs/docs_src/getting_started/fastapi/workflow.py
  docs/docs_src/getting_started/main_console.py
  docs/docs_src/getting_started/main_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/main_1_nats.py
  docs/docs_src/getting_started/nats_n_fastapi/workflow.py
  docs/docs_src/getting_started/test_workflow.py
  docs/docs_src/getting_started/workflow.py
Due: lint, test, static-analysis, docs

Implement WhatsApp agent
  fastagency/runtimes/autogen/agents/whatsapp.py
  fastagency/runtimes/autogen/tools/whatsapp.py
Due: lint, test, static-analysis

Fix review comments
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/user-guide/ui/fastapi/basics.md
  docs/docs/en/user-guide/ui/index.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/navigation_template.txt
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/firebase_auth_component.py
  tests/docs_src/test_import.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

Add sections for building, running docker image and deploy to fly.io
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Polishing
  .secrets.baseline
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

wip
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/auth/AuthProtocol.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/FirebaseAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component/firebase_auth_component.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  fastagency/ui/mesop/auth/__init__.py
  fastagency/ui/mesop/auth/auth.py
  fastagency/ui/mesop/auth/firebase/__init__.py
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/auth/firebase/firebase_auth_component.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

polishing
  .secrets.baseline
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  tests/docs_src/test_import.py
  tests/examples/test_import.py
  tests/helpers.py
  tests/test_import.py
Due: lint, test, static-analysis, docs

Fix docs (#528)
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/features.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/images/chat.png
  docs/docs/en/user-guide/getting-started/images/reopen-in-container.png
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs/en/user-guide/index.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/navigation_template.txt
  docs/docs_src/getting_started/fastapi/main_1_fastapi.py
  docs/docs_src/getting_started/fastapi/workflow.py
  docs/docs_src/getting_started/main_console.py
  docs/docs_src/getting_started/main_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/main_1_nats.py
  docs/docs_src/getting_started/nats_n_fastapi/workflow.py
  docs/docs_src/getting_started/test_workflow.py
  docs/docs_src/getting_started/workflow.py
  docs/mkdocs.yml
  docs/overrides/home.html
Due: lint, test, static-analysis, docs

polishing
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

merge with main
  fastagency/__about__.py
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Add firebase authentication in Mesop (#512)
  .secrets.baseline
  .semgrepignore
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/AuthProtocol.md
  docs/docs/en/api/fastagency/ui/mesop/auth/auth/AuthProtocol.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/FirebaseAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth_component/firebase_auth_component.md
  docs/docs/en/user-guide/ui/fastapi/basics.md
  docs/docs/en/user-guide/ui/index.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/en/user-guide/ui/mesop/images/auth_chat.png
  docs/docs/en/user-guide/ui/mesop/images/auth_login.png
  docs/docs/navigation_template.txt
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  fastagency/__about__.py
  fastagency/ui/mesop/auth/__init__.py
  fastagency/ui/mesop/auth/auth.py
  fastagency/ui/mesop/auth/firebase/__init__.py
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/auth/firebase/firebase_auth_component.py
  fastagency/ui/mesop/data_model.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/styles.py
  javascript/firebase_auth_component.js
  pyproject.toml
  tests/cli/test_docker_cli.py
  tests/docs_src/test_import.py
  tests/examples/test_import.py
  tests/helpers.py
  tests/test_import.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

polishing
  .secrets.baseline
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Documentations and tests WIP
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/runtimes/autogen/agents/whatsapp/WhatsAppAgent.md
  docs/docs/en/api/fastagency/runtimes/autogen/tools/WhatsAppTool.md
  docs/docs/en/api/fastagency/runtimes/autogen/tools/whatsapp/WhatsAppTool.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/navigation_template.txt
  fastagency/runtimes/autogen/agents/whatsapp.py
Due: lint, test, static-analysis, docs

Add whatsapp example WIP
  docs/docs_src/user_guide/runtimes/autogen/whatsapp.py
Due: lint, test, static-analysis, docs

Polish getting-started docs
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs/en/user-guide/index.md
Due: docs

Polishing docs (#530)
  .secrets.baseline
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs/en/user-guide/index.md
Due: docs

wip
  docs/docs/SUMMARY.md
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs/en/user-guide/index.md
  docs/docs/navigation_template.txt
Due: docs

automatic generation of docs/docs_src/getting_started using cookie cutter
  docs/docs_src/getting_started/nats_n_fastapi/cookiecutter.json
  docs/docs_src/getting_started/nats_n_fastapi/main_1_nats.py
  docs/docs_src/getting_started/nats_n_fastapi/main_2_fastapi.py
  docs/docs_src/getting_started/nats_n_fastapi/main_2_fastapi_custom_client.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/devcontainer.env
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/devcontainer.json
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/docker-compose.yml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.devcontainer/setup.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.github/workflows/test.yml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/README.md
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/__init__.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/__init__.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_1_fastapi.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/deployment/main_2_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/local/__init__.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/local/main_mesop.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/tests/__init__.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/tests/conftest.py
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/tests/test_workflow.py
  docs/docs_src/getting_started/nats_n_fastapi/nats-server.conf
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

WIP
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs_src/user_guide/runtimes/autogen/whatsapp_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsap_tool.py
  tests/docs_src/user_guide/runtimes/autogen/test_whatsapp.py
Due: lint, test, static-analysis, docs

Update secrets baseline
  .secrets.baseline
Due: none

Audited .secrets.baseline
  .secrets.baseline
Due: none
