Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Fix broken docs code (#551)
  .secrets.baseline
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs_src/getting_started/fastapi/main_fastapi_custom_client.py
  docs/docs_src/getting_started/nats_n_fastapi/main_2_fastapi_custom_client.py
  docs/docs_src/getting_started/nats_n_fastapi/main_2_mesop.py
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

Update lines
  .secrets.baseline
  docs/docs/en/tutorials/giphy/index.md
  docs/docs_src/tutorials/giphy/main.py
Due: lint, test, static-analysis, docs

Fix tests
  tests/docs_src/test_import.py
Due: lint, test, static-analysis

Recommend cookiecutter as default option and pip+venv as an alternative
  .secrets.baseline
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/api/security.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/interactions.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

Polishing of Getting started (#552)
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update tutorials to use cookiecutter (#553)
  .secrets.baseline
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/whatsapp/main.py
  tests/docs_src/test_import.py
Due: lint, test, static-analysis, docs

Add username and password auth
  docs/docs/en/api/fastagency/ui/mesop/auth/username_password/UsernamePasswordAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/username_password/username_password_auth/UsernamePasswordAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/username_password/username_password_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/username_password/username_password_auth_component/username_password_auth_component.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_username_password_auth.py
  fastagency/ui/mesop/auth/auth.py
  fastagency/ui/mesop/auth/username_password/__init__.py
  fastagency/ui/mesop/auth/username_password/username_password_auth.py
  fastagency/ui/mesop/auth/username_password/username_password_auth_component.py
  javascript/username_password_auth_component.js
  pyproject.toml
Due: lint, test, static-analysis, docs

Recommed cookiecutter as default option and pip+venv as alternative (#554)
  .secrets.baseline
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/api/security.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/interactions.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

polishing
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseConfig.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/user-guide/getting-started/index.md
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/auth/firebase/firebase_auth_component.py
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

polishing (#557)
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/firebase/firebase_auth/FirebaseConfig.md
  docs/docs/en/tutorials/mesop_template.md
  docs/docs/en/user-guide/getting-started/index.md
  fastagency/ui/mesop/auth/firebase/firebase_auth.py
  fastagency/ui/mesop/auth/firebase/firebase_auth_component.py
  scripts/build-docs.sh
Due: lint, test, static-analysis, docs

WIP
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/BasicAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth/BasicAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth_component/basic_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/username_password/username_password_auth_component/username_password_auth_component.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/__init__.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth_component.py
  fastagency/ui/mesop/auth/username_password/__init__.py
  javascript/basic_auth_component.js
Due: lint, test, static-analysis, docs

WIP
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth_component.py
Due: lint, test, static-analysis, docs

WIP
  fastagency/ui/mesop/auth/basic_auth/basic_auth.py
  javascript/basic_auth_component.js
Due: lint, test, static-analysis

fixes
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/interactions.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
Due: docs

New README
  README.md
  docs/docs/en/example.md
  docs/docs/en/features.md
  docs/docs/en/user-guide/cookiecutter/index.md
  fastagency/__about__.py
Due: lint, test, static-analysis, docs

Update docs
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/en/user-guide/ui/mesop/images/basic_auth_chat.png
  docs/docs/en/user-guide/ui/mesop/images/basic_auth_login.png
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  tests/docs_src/test_import.py
Due: lint, test, static-analysis, docs

Fix tests
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth.py
  tests/docs_src/test_import.py
Due: lint, test, static-analysis, docs

Update cookiecutter generated files
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
Due: docs

Polishing
  tests/ui/mesop/test_basic_auth.py
Due: lint, test, static-analysis

Polishing
  docs/docs/en/user-guide/ui/mesop/basics.md
Due: docs

Update cookiecutter generated files (#559)
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/Dockerfile
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
Due: docs

polishing
  docs/docs_src/getting_started/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/pyproject.toml
Due: docs

Create new readme file (#558)
  README.md
  docs/docs/en/example.md
  docs/docs/en/features.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/runtimes/autogen/index.md
  docs/docs/en/user-guide/runtimes/autogen/interactions.md
  docs/docs/en/user-guide/runtimes/autogen/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/autogen/websurfer.md
  docs/docs/en/user-guide/runtimes/autogen/whatsapp.md
  docs/docs/en/user-guide/ui/console/basics.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  fastagency/__about__.py
Due: lint, test, static-analysis, docs

Fix warning for broken link
  docs/docs/en/example.md
Due: docs

fixes
  docs/docs/en/example.md
  tests/ui/mesop/test_basic_auth.py
Due: lint, test, static-analysis, docs

Add output to docker and fly.io deploy commands
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update cookiecutter generated files
  docs/docs_src/getting_started/fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
Due: docs

Polishing
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/getting_started/fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
Due: lint, test, static-analysis, docs

Make output collapsible
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

Update deploy docs (#561)
  docs/docs/en/example.md
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs_src/getting_started/fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/deploy_to_fly_io.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/.dockerignore
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/build_docker.sh
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/deploy_to_fly_io.sh
Due: docs

Docs Polishing
  docs/docs/en/user-guide/ui/mesop/basics.md
  javascript/basic_auth_component.js
Due: docs

546 simple usernamepassword authentication (#556)
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/BasicAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth/BasicAuth.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth_component.md
  docs/docs/en/api/fastagency/ui/mesop/auth/basic_auth/basic_auth_component/basic_auth_component.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/en/user-guide/ui/mesop/images/basic_auth_chat.png
  docs/docs/en/user-guide/ui/mesop/images/basic_auth_login.png
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  fastagency/ui/mesop/auth/auth.py
  fastagency/ui/mesop/auth/basic_auth/__init__.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth.py
  fastagency/ui/mesop/auth/basic_auth/basic_auth_component.py
  javascript/basic_auth_component.js
  pyproject.toml
  tests/docs_src/test_import.py
  tests/ui/mesop/test_basic_auth.py
Due: lint, test, static-analysis, docs

Update docs
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  javascript/basic_auth_component.js
Due: lint, test, static-analysis, docs

Update docs (#563)
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  javascript/basic_auth_component.js
Due: lint, test, static-analysis, docs

Implement HTTPBasic security
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/security/HTTPBasic.md
  docs/docs/en/user-guide/api/security.md
  docs/docs_src/user_guide/external_rest_apis/security_examples.py
  fastagency/api/openapi/security.py
  tests/api/openapi/security/test_http_basic_client.py
  tests/api/openapi/security/test_http_bearer_client.py
  tests/api/openapi/security/test_unsupported_security.py
Due: lint, test, static-analysis, docs

version bumped to 0.3.4rc1
  fastagency/__about__.py
Due: lint, test, static-analysis

Updated cookiecutter
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
Due: docs

Release 0.3.4
  fastagency/__about__.py
Due: lint, test, static-analysis

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
