Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Add a section explaining how to deploy using github actions (#592)
  README.md
  docs/docs/en/user-guide/getting-started/index.md
Due: docs

fixes
  .devcontainer/autogen-04dev-python-3.10/devcontainer.json
  .devcontainer/autogen-04dev-python-3.11/devcontainer.json
  .devcontainer/autogen-04dev-python-3.12/devcontainer.json
  .devcontainer/autogen-04dev-python-3.9/devcontainer.json
  .devcontainer/autogen-python-3.10/devcontainer.json
  .devcontainer/autogen-python-3.11/devcontainer.json
  .devcontainer/autogen-python-3.12/devcontainer.json
  .devcontainer/autogen-python-3.9/devcontainer.json
  .devcontainer/build_devcontainers.py
  .devcontainer/setup-autogen-04dev.sh
  .devcontainer/setup-autogen.sh
Due: lint, test, static-analysis

fixes
  .pre-commit-config.yaml
Due: none

dependanicies fix
  pyproject.toml
Due: none

CI update
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
Due: none

CI update
  .github/workflows/pipeline.yaml
Due: none

CI update
  .github/workflows/test.yaml
Due: none

CI update
  .github/workflows/test-playwright.yaml
Due: none

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/folder_structure.txt
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/basic_auth/mesop/folder_structure.txt
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/fastapi/folder_structure.txt
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/no_auth/mesop/folder_structure.txt
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/scripts/run_docker.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/.gitignore
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/allowed_users.yaml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/deployment/firebase/firebase_config.yaml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
Due: docs

Fix pydantic version comparison bug
  tests/api/openapi/test_end2end.py
  tests/conftest.py
Due: lint, test, static-analysis

Update codecov action version
  .github/workflows/pipeline.yaml
Due: none

Update package versions
  pyproject.toml
Due: none

Revert websocket version
  pyproject.toml
Due: none

Update packages (#596)
  .github/workflows/pipeline.yaml
  pyproject.toml
Due: none

wip
  .devcontainer/autogen-python-3.10/devcontainer.json
  .devcontainer/autogen-python-3.10/docker-compose.yml
  .devcontainer/autogen-python-3.11/devcontainer.json
  .devcontainer/autogen-python-3.11/docker-compose.yml
  .devcontainer/autogen-python-3.12/devcontainer.json
  .devcontainer/autogen-python-3.12/docker-compose.yml
  .devcontainer/autogen-python-3.9/docker-compose.yml
  .devcontainer/build_devcontainers.py
  .github/workflows/pipeline.yaml
  .github/workflows/test-playwright.yaml
  .github/workflows/test.yaml
  pyproject.toml
  scripts/build_devcontainers.py
Due: lint, test, static-analysis

fixes
  fastagency/__about__.py
  pyproject.toml
  scripts/build-docs-pre-commit.sh
  scripts/lint-pre-commit.sh
  scripts/test-no-llm-pre-commit.sh
Due: lint, test, static-analysis

add docs deploy to CI for 0.4-dev branch
  .github/workflows/deploy-docs.yaml
Due: none

CI precommit fix
  scripts/devcontainer-build-pre-commit.sh
Due: none

fix
  scripts/devcontainer-build-pre-commit.sh
Due: none

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
Due: docs

Update cookiecutter generated files (#604)
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/scripts/register_to_fly_io.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/nginx.conf.template
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/docker/content/run_fastagency.sh
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/fly.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/scripts/register_to_fly_io.sh
Due: docs

refactoring
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/openapi/OpenAPI.md
  docs/docs/en/api/fastagency/api/openapi/openapi/add_to_globals.md
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/docs_src/tutorials/whatsapp/main.py
  docs/docs_src/user_guide/external_rest_apis/security.py
  examples/cli/main_user_proxy.py
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/openapi.py
  fastagency/runtimes/autogen/tools/whatsapp.py
  tests/api/openapi/security/test_security.py
  tests/api/openapi/security/test_unsupported_security.py
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_client.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/api/openapi/test_whatsapp_api.py
  tests/runtime/autogen/test_autogen.py
Due: lint, test, static-analysis, docs

wip
  fastagency/api/code_injection.py
  tests/api/test_code_injection.py
Due: lint, test, static-analysis

Fix typing and update test
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/code_injection/inject_params.md
  fastagency/api/code_injection.py
  tests/api/test_code_injection.py
Due: lint, test, static-analysis, docs

Initial example wit code injection implemented
  docs/docs_src/user_guide/code_injection/__init__.py
  docs/docs_src/user_guide/code_injection/main.py
Due: lint, test, static-analysis, docs

Skip docs_src.user_guide.code_injection in test_import
  tests/docs_src/test_import.py
Due: lint, test, static-analysis

Rename the main.py to mesop_main.py
  docs/docs_src/user_guide/code_injection/mesop_main.py
Due: lint, test, static-analysis, docs

wip: code injection docs
  docs/docs/SUMMARY.md
  docs/docs/en/user-guide/api/code_injection/index.md
  docs/docs/navigation_template.txt
  docs/docs_src/user_guide/code_injection/mesop_main.py
Due: lint, test, static-analysis, docs

wip: code injection docs
  docs/docs/en/user-guide/api/code_injection/index.md
Due: docs

Filter one pytest warning
  pyproject.toml
Due: none

Filter one pytest warning (#607)
  pyproject.toml
Due: none

Update code injectionn user guide
  docs/docs/en/user-guide/api/code_injection/images/result.png
  docs/docs/en/user-guide/api/code_injection/images/user_input.png
  docs/docs/en/user-guide/api/code_injection/index.md
  docs/docs_src/user_guide/code_injection/mesop_main.py
Due: lint, test, static-analysis, docs

Update code injectionn user guide
  docs/docs/en/user-guide/api/code_injection/index.md
Due: docs

Update code injection docs
  docs/docs/en/user-guide/api/code_injection/index.md
  docs/docs/en/user-guide/api/index.md
Due: docs

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
