Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

test:
  name: Test
  entry: scripts/test-no-llm-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

pre-commit fixes
  .pre-commit-config.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/openapi/add_to_builtins.md
  docs/docs/en/user-guide/runtimes/ag2/images/weather_chat.png
Due: docs

files added after removing it because of LFS issues
  docs/docs/en/user-guide/runtimes/ag2/images/weather_chat.png
Due: docs

Fix forward ref issues in OpenAPI tool registration (#671)
  .pre-commit-config.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/openapi/add_to_builtins.md
  docs/docs/en/user-guide/runtimes/ag2/images/weather_chat.png
  fastagency/api/openapi/openapi.py
  tests/api/openapi/security/test_api_key_client.py
  tests/api/openapi/security/test_http_basic_client.py
  tests/api/openapi/security/test_http_bearer_client.py
  tests/api/openapi/security/test_oauth_client.py
  tests/api/openapi/security/test_security.py
  tests/api/openapi/security/test_unsupported_security.py
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_client.py
  tests/api/openapi/test_client_requests.py
  tests/api/openapi/test_datamodel_with_pattern.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_get_params.py
  tests/api/openapi/test_openapi_same_schema_in_parameters.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/api/openapi/test_whatsapp_api.py
  tests/docs_src/test_import.py
  tests/docs_src/user_guide/external_rest_apis/test_with_security.py
  tests/docs_src/user_guide/external_rest_apis/test_without_security.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_whatsapp.py
Due: lint, test, static-analysis, docs

WIP
  fastagency/adapters/nats/base.py
  fastagency/base.py
  fastagency/messages.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/runtimes/ag2/agents/whatsapp.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Remove unnecessary code
  fastagency/base.py
  fastagency/messages.py
  fastagency/runtimes/ag2/__init__.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/runtimes/ag2/agents/whatsapp.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Rename sender_name, recipient_name back to sender and recipient
  fastagency/adapters/nats/base.py
  fastagency/base.py
  fastagency/messages.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/runtimes/ag2/agents/whatsapp.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Fix MesopUI
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/CurrentMessage.md
  docs/docs/en/api/fastagency/runtimes/ag2/ag2/create_ag2_event.md
  docs/docs/en/api/fastagency/ui/mesop/message/UUIDEncoder.md
  fastagency/runtimes/ag2/ag2.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis, docs

Add new ui.process method
  fastagency/base.py
Due: lint, test, static-analysis

Fix static analysis issues
  fastagency/base.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Use ag2 version 0.8.6b0
  pyproject.toml
Due: none

Use run instead of initiate_chat and allow prerelease in uv install
  README.md
  docs/docs/en/example.md
  docs/docs_src/getting_started/no_auth/fastapi/main_fastapi_custom_client.py
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/docs_src/tutorials/whatsapp/main.py
  docs/docs_src/user_guide/adapters/fastapi/security/workflows.py
  docs/docs_src/user_guide/custom_user_interactions/main.py
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  docs/docs_src/user_guide/external_rest_apis/main.py
  docs/docs_src/user_guide/external_rest_apis/security.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/main.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/using_non_openai_models.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer_tool.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp_tool.py
  docs/docs_src/user_guide/ui/mesop/main_mesop.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  e2e/llm/main.py
  examples/cli/main_console.py
  examples/cli/main_mesop.py
  examples/cli/main_user_proxy.py
  scripts/build-docs-pre-commit.sh
  scripts/lint-pre-commit.sh
  scripts/static-pre-commit.sh
  scripts/test-no-llm-pre-commit.sh
  tests/cli/test_mesop.py
Due: lint, test, static-analysis, docs

Cleanup commented out code and unnecessary stuff
  fastagency/messages.py
  fastagency/runtimes/ag2/ag2.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Use run instead of initiate_chat in tests
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
  tests/runtime/ag2/test_autogen.py
  tests/runtime/ag2/tools/test_web_surfer.py
Due: lint, test, static-analysis

polish CI
  .github/workflows/pipeline.yaml
Due: none

Fix failing test case
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

Add response.process() in tests
  fastagency/runtimes/ag2/tools/websurfer.py
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Add support for ExecuteFunctionEvent
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

WIP: Add debug in tests
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Handle auto reply event in mesop ui
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

Handle input request event
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Skip azure tests
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Add sleep to make sure messages are available
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Remove unnecessary debug stuff
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Use ag2 version 0.8.6
  pyproject.toml
Due: none

Remove sleep
  tests/api/openapi/test_endpoint_with_body.py
  tests/api/openapi/test_uppercase_endpoint_parameters.py
Due: lint, test, static-analysis

Update version to 0.8.6
  fastagency/__about__.py
Due: lint, test, static-analysis

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: lint, test, static-analysis, docs

Update release notes
  docs/docs/en/release.md
Due: docs

Update cookiecutter generated files and release notes (#681)
  docs/docs/en/release.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: lint, test, static-analysis, docs

Handle RunCompletionEvent
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Handle RunCompletionEvent (#684)
  fastagency/ui/console/console.py
  fastagency/ui/mesop/mesop.py
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Use UUIDEncoder to dump message with UUID
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Use UUIDEncoder to dump message with UUID (#685)
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

Formating MultimodalConversableAgent messages WIP
  fastagency/ui/console/console.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Formating MultimodalConversableAgent messages
  fastagency/messages.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/message.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Path conditions:
  lint: any of: \.py$
  test: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
