Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^docs/docs/en/user-guide/cli/.*
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              docs/docs/SUMMARY.md|
              docs/docs/en/api/.meta.yml
          )$
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: check-added-large-files
        exclude: |
          (?x)^(
              blog/package-lock.json
          )$

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: test
        name: Test
        entry: "scripts/test-no-llm-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        #language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
              package.lock.json|
              pnpm-lock.yaml|
              examples/openapi/whatsapp_openapi_complete.json
          )$

Formating MultimodalConversableAgent messages Mesop
  fastagency/messages.py
  fastagency/ui/mesop/message.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Add tests for _body_to_str method
  fastagency/messages.py
  tests/test_messages.py
Due: lint, test, static-analysis

Update version to 0.8.6post0
  fastagency/__about__.py
Due: lint, test, static-analysis

Fix workflows with multimodal conversable agent (#686)
  fastagency/__about__.py
  fastagency/messages.py
  fastagency/ui/console/console.py
  fastagency/ui/mesop/message.py
  tests/runtime/ag2/test_autogen.py
  tests/test_messages.py
Due: lint, test, static-analysis

Update release notes and cookiecutter generated files
  docs/docs/en/release.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: docs

Update release notes and cookiecutter generated files (#687)
  docs/docs/en/release.md
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/pyproject.toml
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/pyproject.toml
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/pyproject.toml
Due: docs

Update cookiecutter generated files
  docs/docs_src/getting_started/basic_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/basic_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/fastapi/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/mesop/my_fastagency_app/my_fastagency_app/workflow.py
  docs/docs_src/getting_started/no_auth/nats_n_fastapi/my_fastagency_app/my_fastagency_app/workflow.py
Due: lint, test, static-analysis, docs

Use LLMConfig instead of dictionary
  README.md
  docs/docs/en/example.md
  docs/docs/en/tutorials/giphy/index.md
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs/en/user-guide/api/dependency_injection/index.md
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs/en/user-guide/api/security.md
  docs/docs/en/user-guide/runtimes/ag2/index.md
  docs/docs/en/user-guide/runtimes/ag2/interactions.md
  docs/docs/en/user-guide/runtimes/ag2/using_non_openai_models.md
  docs/docs/en/user-guide/runtimes/ag2/websurfer.md
  docs/docs/en/user-guide/runtimes/ag2/whatsapp.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs_src/getting_started/no_auth/fastapi/main_fastapi_custom_client.py
  docs/docs_src/tutorials/giphy/main.py
  docs/docs_src/tutorials/giphy/simple_main.py
  docs/docs_src/tutorials/whatsapp/main.py
  docs/docs_src/user_guide/adapters/fastapi/security/workflows.py
  docs/docs_src/user_guide/custom_user_interactions/main.py
  docs/docs_src/user_guide/dependency_injection/mesop/my_bank_app/my_bank_app/workflow.py
  docs/docs_src/user_guide/dependency_injection/workflow.py
  docs/docs_src/user_guide/external_rest_apis/main.py
  docs/docs_src/user_guide/external_rest_apis/security.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/main.py
  docs/docs_src/user_guide/runtimes/ag2/mesop/using_non_openai_models.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer.py
  docs/docs_src/user_guide/runtimes/ag2/websurfer_tool.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp.py
  docs/docs_src/user_guide/runtimes/ag2/whatsapp_tool.py
  docs/docs_src/user_guide/ui/mesop/main_mesop.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_basic_auth.py
  docs/docs_src/user_guide/ui/mesop/main_mesop_firebase_auth.py
  e2e/llm/main.py
  examples/cli/main_console.py
  examples/cli/main_mesop.py
  examples/cli/main_user_proxy.py
  tests/cli/test_mesop.py
  tests/conftest.py
Due: lint, test, static-analysis, docs

Fix failing tests
  docs/docs/en/user-guide/api/security.md
  docs/docs_src/user_guide/external_rest_apis/security.py
Due: lint, test, static-analysis, docs

Fix failing tests
  docs/docs/en/user-guide/api/openapi/index.md
  docs/docs_src/user_guide/external_rest_apis/main.py
Due: lint, test, static-analysis, docs

Run async workflows
  fastagency/runtimes/ag2/ag2.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Use ag2 0.8.7
  pyproject.toml
Due: none

Add pillow as testing dependency
  pyproject.toml
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Run async workflows (#694)
  fastagency/runtimes/ag2/ag2.py
  pyproject.toml
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Add new async_process method
  fastagency/base.py
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Fix tests
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Remove sleep
  fastagency/base.py
Due: lint, test, static-analysis

Use ag2 version 0.8.7
  fastagency/__about__.py
  pyproject.toml
Due: lint, test, static-analysis

Add new async_process method (#696)
  fastagency/__about__.py
  fastagency/base.py
  pyproject.toml
  tests/runtime/ag2/test_autogen.py
Due: lint, test, static-analysis

Add RunLedger replay gate
  .github/workflows/runledger.yml
  .gitignore
  README.md
  baselines/runledger-demo.json
  evals/runledger/agent/agent.py
  evals/runledger/cases/t1.yaml
  evals/runledger/cassettes/t1.jsonl
  evals/runledger/schema.json
  evals/runledger/suite.yaml
Due: lint, test, static-analysis
