Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^docs/docs/en/user-guide/cli/.*
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              docs/docs/SUMMARY.md|
              docs/docs/en/api/.meta.yml
          )$
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: check-added-large-files
        exclude: |
          (?x)^(
              blog/package-lock.json
          )$

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: test
        name: Test
        entry: "scripts/test-no-llm-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        #language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
              package.lock.json|
              pnpm-lock.yaml|
              examples/openapi/whatsapp_openapi_complete.json
          )$

Release 0.3.4 (#566)
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
  fastagency/__about__.py
Due: lint, test, static-analysis, docs

pre-commit fix
  docs/docs_src/getting_started/fastapi/folder_structure.txt
  docs/docs_src/getting_started/fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/mesop/folder_structure.txt
  docs/docs_src/getting_started/mesop/my_fastagency_app/scripts/run_mesop_locally.sh
  docs/docs_src/getting_started/nats_n_fastapi/folder_structure.txt
  docs/docs_src/getting_started/nats_n_fastapi/my_fastagency_app/scripts/run_mesop_locally.sh
Due: docs

Implement HTTPBasic security (#564)
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/security/HTTPBasic.md
  docs/docs/en/user-guide/api/security.md
  docs/docs_src/user_guide/external_rest_apis/security_examples.py
  fastagency/api/openapi/security.py
  tests/api/openapi/security/test_http_basic_client.py
  tests/api/openapi/security/test_http_bearer_client.py
  tests/api/openapi/security/test_unsupported_security.py
Due: lint, test, static-analysis, docs

Update Release Notes for 0.3.4
  docs/docs/en/release.md
Due: docs

Fix typo
  docs/docs/en/release.md
Due: docs

playwright coverage WIP(10)
  .github/workflows/pipeline.yaml
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(3)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(9)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(11)
  .github/workflows/test-playwright.yaml
  .github/workflows/test.yaml
Due: none

playwright coverage WIP(8)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(4)
  e2e/playwright.coverage.cfg
Due: none

playwright coverage WIP(12)
  .github/workflows/pipeline.yaml
Due: none

playwright coverage WIP(2)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(1)
  .github/workflows/pipeline.yaml
  .github/workflows/test-playwright.yaml
  e2e/playwright.base.config.ts
  fastagency/app.py
  playwright.gunicorn.config.ts
Due: lint, test, static-analysis

playwright coverage WIP(5)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(6)
  .github/workflows/test-playwright.yaml
  fastagency/app.py
Due: lint, test, static-analysis

playwright coverage WIP(7)
  e2e/playwright.coverage.cfg
  fastagency/app.py
Due: lint, test, static-analysis

playwright coverage WIP(20)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(24)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(14)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(16)
  .github/workflows/test-playwright.yaml
Due: none

wip
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(12+1)
  .github/workflows/pipeline.yaml
  .github/workflows/test-playwright.yaml
  e2e/playwright.base.config.ts
Due: none

playwright coverage WIP(17)
  .github/workflows/test-playwright.yaml
Due: none

added sleep after starting fastagency server in CI
  .github/workflows/test-playwright.yaml
Due: none

wip
  e2e/playwright.base.config.ts
Due: none

playwright coverage WIP(22)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(18)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(21)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(15)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP2(2)
  e2e/llm-sans/messages.spec.ts
Due: none

playwright coverage WIP(23)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP(19)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP2(1)
  .github/workflows/test-playwright.yaml
  e2e/playwright.base.config.ts
  playwright.coverage.config.ts
Due: none

playwright coverage WIP2(7)
  fastagency/app.py
Due: lint, test, static-analysis

playwright coverage WIP2(6)
  .github/workflows/test-playwright.yaml
  playwright.llm-sans.config.ts
Due: none

playwright coverage WIP2(3)
  .github/workflows/test-playwright.yaml
Due: none

playwright coverage WIP2(8)
  fastagency/app.py
Due: lint, test, static-analysis
