Repository airtai/fastagency: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              ^docs/docs/en/user-guide/cli/.*
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              docs/docs/SUMMARY.md|
              docs/docs/en/api/.meta.yml
          )$
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: check-added-large-files
        exclude: |
          (?x)^(
              blog/package-lock.json
          )$

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: test
        name: Test
        entry: "scripts/test-no-llm-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        #        language_version: python3.9
        types: [python]
        require_serial: true
        verbose: true

  - repo: local
    hooks:
      - id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        #language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
              package.lock.json|
              pnpm-lock.yaml|
              examples/openapi/whatsapp_openapi_complete.json
          )$

wip
  examples/openapi/whatsapp_simple.json
Due: none

Add tests for fastagency docker commands
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

refactoring
  fastagency/ui/mesop/auth.py
  fastagency/ui/mesop/components/auth.py
  fastagency/ui/mesop/components/auth_config_requirements.py
  fastagency/ui/mesop/data_model.py
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/mesop.py
Due: lint, test, static-analysis

Add examples
  tests/api/openapi/templates/discriminator_inside_properties.json
  tests/api/openapi/templates/discriminator_outside_properties.json
Due: none

WIP: Add deploy command
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/cli/docker_cli/deploy.md
  docs/docs/en/cli/cli.md
  fastagency/cli/docker_cli.py
Due: lint, test, static-analysis, docs

Fix failing test in windows and mac
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Fix bug in test patch
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Fix exit code in patched tests
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Raise error in tests
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Skip test in windows
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Fix deploy command
  fastagency/cli/docker_cli.py
Due: lint, test, static-analysis

WIP: Add logic to update security policy
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/auth/AuthProtocol.md
  docs/docs/en/api/fastagency/ui/mesop/firebase_auth/FirebaseAuth.md
  docs/docs/en/api/fastagency/ui/mesop/firebase_auth/FirebaseConfig.md
  docs/docs_src/user_guide/ui/mesop/main_mesop_auth.py
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/main.py
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

WIP: Add login component
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/main.py
Due: lint, test, static-analysis

bump version to 0.3.3-rc0
  fastagency/__about__.py
Due: lint, test, static-analysis

Add tests for docker deploy command
  fastagency/cli/docker_cli.py
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

bump version to 0.3.3-rc0 (#513)
  fastagency/__about__.py
Due: lint, test, static-analysis

Always expose port 8888 in docker run command
  fastagency/cli/docker_cli.py
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Fix docker deploy tests
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Fix assert in docker deploy failure case
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis

Add fastagency docker build and run commands (#508)
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/cli/docker_cli/build.md
  docs/docs/en/api/fastagency/cli/docker_cli/deploy.md
  docs/docs/en/api/fastagency/cli/docker_cli/run.md
  docs/docs/en/cli/cli.md
  fastagency/cli/cli.py
  fastagency/cli/docker_cli.py
  tests/cli/test_docker_cli.py
Due: lint, test, static-analysis, docs

Mesop: do not scroll for keep alive (#503)
  fastagency/ui/mesop/message.py
Due: lint, test, static-analysis

bump version to 0.3.3-rc1
  fastagency/__about__.py
Due: lint, test, static-analysis

bump version to 0.3.3-rc1 (#514)
  fastagency/__about__.py
Due: lint, test, static-analysis

WIP: prepare patch for __apply_discriminator_type_patched
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/patch_datamodel_code_generator.py
  tests/api/openapi/templates/discriminator_in_root.json
  tests/api/openapi/templates/discriminator_in_root_with_properties.json
  tests/api/openapi/templates/test_fastapi_codegen_template.py
Due: lint, test, static-analysis

WIP: apply patch to topmost class
  fastagency/api/openapi/patch_datamodel_code_generator.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

WIP: apply patch to topmost class
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/patch_datamodel_code_generator.py
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

WIP: Add logout component
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/styles.py
Due: lint, test, static-analysis

Add firebase authentication component
  fastagency/ui/mesop/auth.py
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/firebase_auth_component.py
  fastagency/ui/mesop/main.py
  fastagency/ui/mesop/styles.py
  javascript/firebase_auth_component.js
  pyproject.toml
Due: lint, test, static-analysis

Fix whatsapp end2end
  fastagency/api/openapi/client.py
  main_.py
  models_.py
  templates/main.jinja2
  tests/api/openapi/templates/description_with_new_lines.json
  tests/api/openapi/templates/test_fastapi_codegen_template.py
  tests/api/openapi/test_end2end.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis

Fix whatsapp end2end
  fastagency/api/openapi/client.py
  tests/api/openapi/templates/description_with_new_lines.json
Due: lint, test, static-analysis

Remove postman test
  .github/workflows/pipeline.yaml
  .github/workflows/test.yaml
  pyproject.toml
Due: none

Update whatsapp example
  docs/docs_src/tutorials/whatsapp/main.py
  main_.py
  models_.py
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis, docs

Update whatsapp example
  docs/docs_src/tutorials/whatsapp/main.py
Due: lint, test, static-analysis, docs

Run pre-commit on all files
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.9/devcontainer.json
  .github/workflows/test.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/api/openapi/patch_datamodel_code_generator/patch_apply_discriminator_type.md
  examples/openapi/whatsapp_simple.json
  examples/openapi/whatsapp_simple_discriminator_inside.json
  fastagency/api/openapi/__init__.py
  fastagency/api/openapi/patch_datamodel_code_generator.py
  tests/api/openapi/templates/discriminator_in_root.json
  tests/api/openapi/templates/discriminator_in_root_with_properties.json
  tests/api/openapi/templates/discriminator_inside_properties.json
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis, docs

Fix docs, remove unnecessary specifications
  docs/docs/en/tutorials/whatsapp/index.md
  docs/docs_src/tutorials/whatsapp/main.py
  examples/openapi/whatsapp_openapi.json
  examples/openapi/whatsapp_simple.json
  examples/openapi/whatsapp_simple_discriminator_inside.json
  tests/api/openapi/test_whatsapp_api.py
Due: lint, test, static-analysis, docs

wip
  docs/docs/SUMMARY.md
  docs/docs/en/features.md
  docs/docs/en/user-guide/adapters/fastapi/index.md
  docs/docs/en/user-guide/adapters/fastapi_nats/index.md
  docs/docs/en/user-guide/adapters/nats/index.md
  docs/docs/en/user-guide/cookiecutter/index.md
  docs/docs/en/user-guide/getting-started/images/chat.png
  docs/docs/en/user-guide/getting-started/images/reopen-in-container.png
  docs/docs/en/user-guide/getting-started/index.md
  docs/docs/en/user-guide/index.md
  docs/docs/en/user-guide/ui/mesop/basics.md
  docs/docs/navigation_template.txt
  docs/overrides/home.html
Due: docs

Pass props to web components
  fastagency/ui/mesop/firebase_auth.py
  fastagency/ui/mesop/firebase_auth_component.py
  fastagency/ui/mesop/styles.py
  javascript/firebase_auth_component.js
Due: lint, test, static-analysis

Fix tests
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/fastagency/ui/mesop/firebase_auth_component/FirebaseConfig.md
  docs/docs/en/api/fastagency/ui/mesop/firebase_auth_component/firebase_auth_component.md
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis, docs

Fix mesop related imports in tests
  tests/ui/mesop/test_main.py
Due: lint, test, static-analysis

Update package versions
  pyproject.toml
Due: none
